* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7edf8;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topnav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background-color: #2563EA;
}

.secondnav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;
  background-color: #fff;
}

.btn {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
}

.btn2 {
  padding: 10px 20px;
  background-color: #2563EA;
  border-radius: 10px;
  border: none;
  color: #fff;
}


.logo img {
  width: 90px;
}

.btnlinks {
  display: flex;
  gap: 20px;
}

.first-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 50px 5%;
}

.first-card {
  flex-direction: column;
  gap: 20px;
}

.first-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: #2563EA;
  border-radius: 10px;
}

.first-card .card-text {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.first-card img {
  width: 100%;
}

.first-card .card-text button {
  width: fit-content;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  width: 280px;
}

.card-header {
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: #c3d4f7;
  border-radius: 10px 10px 0 0;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.industries-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* justify-content: center; */
  padding: 20px 0;
}

.other-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  padding: 20px 5%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

.level ul {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.level ul li:last-child {
  color: #2563EA;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.main-card-header {
  padding: 10px;
  background-color: #2563EA;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.main-card-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.action {
  width: 100%;
  background-color: #2563EA;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.action-icon {
  display: flex;
  flex-direction: column;
}

audio {
  width: 100%;
  /* background-color: transparent; */
}

.todo-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border: 15px solid #2563EA;
  border-radius: 8px;
}

.todo ol {
  width: 100%;
  padding: 0 30px;
}

.todo-icon {
  font-size: 30px;
}

.rate-card {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  align-items: center;
}

.rate-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.rate-icon {
  color: #2563EA;
  font-size: 25px;
}

.templates {
  display: none;
}

.templates select {
  padding: 10px 20px;
  border-radius: 10px;
  border: none !important;
  background-color: #2563EA;
}

.templates option {
  padding: 10px 20px;
  border-radius: 10px;
  border: none !important;
  background-color: #2563EA;

}

.templates input {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #2563EA;
}

.template-cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .first-card {
    flex-direction: row;
  } 
  .other-data {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .templates {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  /* .cards {
    justify-content: flex-start;
  } */
}